In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

# Series

### Create Pandas Series,
* arguments: data & index

In [17]:
ls = np.array([10,20,30])
labels = ['a','b','c']
ser1 = pd.Series(data = ls, index = labels)

In [18]:
ser1['a']
ser1[0]

10

In [19]:
ser1 = pd.Series([1,2,3], index = ['a','b','c'])
ser2 = pd.Series([1,2,3], index = ['a','b','d'])
ser1 + ser2

a    2.0
b    4.0
c    NaN
d    NaN
dtype: float64

# DataFrame

### Create DataFrame, 
* arguments: data, index, columns
* each column is just a pd.Series

In [173]:
df = pd.DataFrame(data = randn(5,4), index = ['a','b','c','d','e'], columns = ['w','x','y','z'])

### Create new column
* from combination of existing column

In [166]:
df['new'] = df['x'] + df['w']
df.shape

(5, 5)

### Drop a column/row,
*  arguments: labels, axis, inplace

In [167]:
df.drop(labels = 'new', axis = 1, inplace = True)
df.drop(labels = 'e', axis = 0, inplace = False)
df.shape

(5, 4)

### selection of columns: ["..."]

In [168]:
df['w']
type(df['w'])

pandas.core.series.Series

In [169]:
df[['w','y']]
type(df[['w','y']])

pandas.core.frame.DataFrame

### Selection of rows: [T/F], loc[], iloc[]
* note use of "[]" instead of "()"
* Rows are pd.Series too!

In [170]:
df.loc['a']
df.iloc[0]
type(df.loc['a'])

pandas.core.series.Series

In [171]:
df.loc[['a','b']]
df.iloc[[0,1], ]

df[[True,False,True,False,False]]
df.loc[[True,False,True,False,False]]
df.iloc[[True,False,True,False,False]]

df[ (df['w'] + df['y'])>0 ]
df[ (df['w']>0) | (df['y']>0)]
df[ (df['w']>0) & (df['y']>0)]

df.loc[      (df['w']>0) & (df['y']>0) ]
df.iloc[list((df['w']>0) & (df['y']>0))]
df.iloc[    ((df['w']>0) & (df['y']>0)).values]

type(df[ (df['w']>0) | (df['y']>0)])

pandas.core.frame.DataFrame

### Selection of rows & columns: loc[..., ...], iloc[..., ...], [...][..]

In [202]:
df.loc[['a','b'], ['w','w']]
df.iloc[[0,1], [2,3]]

df.loc[[True,False,True,False,False], ['w','w']]
df.iloc[[True,False,True,False,False],[2,3]]

df.loc[(df['w']>0) | (df['y']>0), ['w']]
df.iloc[((df['w']>0) | (df['y']>0)).values, [1,2]]

df[(df['w']>0) | (df['y']>0)]   ['w']
df.loc[(df['w']>0) | (df['y']>0)]   [['w','y']]
df.iloc[((df['w']>0) | (df['y']>0)).values]   [['w','y']]

type(df.iloc[((df['w']>0) | (df['y']>0)).values, [1,2]])

pandas.core.frame.DataFrame

### Conditional Selection
* Get "NaN" when Conditional select on the entire df
* No "NaN" when selecting rows: see up there

In [186]:
booldf = df > 0
booldf_1 = df < -0.5
booldf_2 = booldf | booldf_1
df[booldf_2]

          w         x         y         z
a       NaN  1.062710  1.752014  0.695547
b  0.153661  0.167638 -0.765930  0.962299
c  0.902826 -0.537909 -1.549671  0.435253
d  1.259904       NaN  0.266207  0.412580
e  0.988773  0.513833 -0.928205  0.846904